/*Login and registration*/
body {
    font-family: Arial, Sans-Serif;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

a {
    color: #0067ab;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form {
    width: 300px;
    margin: 0 auto;
}

.login-style {
    width: 200px;
    border-radius: 2px;
    border: 1px solid #CCC;
    padding: 10px;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
}

.login-button {
    padding: 10px 25px 8px;
    color: #fff;
    background-color: #0067ab;
    text-shadow: rgba(0, 0, 0, 0.24) 0 1px 0;
    font-size: 16px;
    box-shadow: rgba(255, 255, 255, 0.24) 0 2px 0 0 inset, #fff 0 1px 0 0;
    border: 1px solid #0164a5;
    border-radius: 2px;
    margin-top: 10px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #024978;
}

input[type='submit'] {

    color: #fff;
    background-color: #0067ab;
    text-shadow: rgba(0, 0, 0, 0.24) 0 1px 0;
    
    box-shadow: rgba(255, 255, 255, 0.24) 0 2px 0 0 inset, #fff 0 1px 0 0;
    border: 1px solid #0164a5;
    border-radius: 2px;

    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #024978;
}

/*input[type='text'],
input[type='email'],
input[type='password'],
input[type='date']{
    width: 200px;
    border-radius: 2px;
    border: 1px solid #CCC;
    padding: 10px;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
}

input[type='submit'] {
    padding: 10px 25px 8px;
    color: #fff;
    background-color: #0067ab;
    text-shadow: rgba(0, 0, 0, 0.24) 0 1px 0;
    font-size: 16px;
    box-shadow: rgba(255, 255, 255, 0.24) 0 2px 0 0 inset, #fff 0 1px 0 0;
    border: 1px solid #0164a5;
    border-radius: 2px;
    margin-top: 10px;
    cursor: pointer;
}


input[type='submit']:hover {
    background-color: #024978;
}*/

/*Employee*/

.container #Employee{
     background-color: #0164a5;
}

.employee-left {
     padding-top: 10%;
}

.employee-right {

     padding-top: 10%;
}

.btn-group-vertical {
          padding-left: 8%;
}

/* Customer */

.customer-header{
    padding-top: 10%;
    padding-left: 8%;
}

/* index*/

#index-row-1{
    text-align: center;
    padding-top: 20%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 15px;
}

#index-row-2{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

img{
    background-color: white;
    height: 512px;
    width: 512px;
}

/* customer-payment */
.payment-box {
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

/* customer-search */
.small-Input{
    padding-left : 1px !important;
    padding-right : 1px !important;
    margin-right:  5px !important;
}

